extends nav_layout
include mixins/foods

block content
  div.row.std-margins
    - var count = 0
    - var images = ['img/food1.jpg', 'http://blogs.uoregon.edu/natewoodburyaad250/files/2012/10/PSD_Food_illustrations_3190_pancakes_with_butter-1wi1tz5.jpg', 'http://40.media.tumblr.com/a918f0fc90fdeedb1d9b7cffd9d0f38f/tumblr_nwzu5tD04q1uktchdo1_1280.jpg']
    - var half = foods.splice(0, Math.floor(foods.length / 2));
    div.col.s6
      each food in half
        +food_card(food, images[count])
        - count++
    div.col.s6
      each food in foods
        +food_card(food, images[count])
        - count++
