extends nav_layout

block content
  div(class=['row'])
    each food in foods
      +food_display2(food, 's6')

mixin food_display2(food, columns)
  div(class=['col', columns])
    div(class='card')
      div(class='card-image food-image')
        img(src='img/food.jpg')
        span(class=['card-title'])
          a(class=['waves-light', 'btn', 'blue-grey', 'darken-2']) #{food.name}
      div(class='card-content')
        div(class='row')
          div(class='left')
            h5 #{food.description}
            h6 #{food.portionsAvailable + " " + food.portionDefinition}
            //h3 #{}
          div(class='right')
            div(class='chip')
              img(src='img/user.jpg')

