extends nav_layout

block content
  +login_form()

mixin login_form()
  div.row.vertical-center
    div.container
      div.card
        div.card-content
          form(name='login', action='/users/login', method='post')
            div.row
              div.input-field
                input(type="text", name="username", class="userfield", placeholder='Username')
            div.row
              div.input-field
                input(type="password", class="pass", name="password", placeholder='Password')
            div.row
              button.btn-large.waves-effect.waves-light.col.s12(type='submit', name='action') Login
                i.material-icons.right send
