extends base_layout

block nav
  ul(id='user-dropdown', class='dropdown-content')
    li
      a(href='#!') Profile
    li(class='divider')
    li
      a(href='/users/logout') Logout

  nav(class=['blue-grey darken-2'])
    div(class='nav-wrapper')
      div(class='std-margins')
        a(href='/', class='brand-logo') FOOD MATCH
        ul(class=['right', 'hide-on-med-and-down'])
          - if(curUserType == 'seller')
            li
              a(href='/food/new') SELL
          - if(!curUserName)
            li
              a(href='/users/new') CREATE ACCOUNT
            li
              a(href='/users/login') LOGIN
          - else
            - var userEndpoint = '/users/' + curUserId
            li
              a(href='/users/logout') LOGOUT
            li
            - if(curUserType == 'seller')
              a(class=['dropdown-button', 'btn'], href='/seller/' + curUserId) #{curUserName}
            - else
              a(class=['dropdown-button', 'btn'], href='#') #{curUserName}

block footer
  div(class=['fixed-action-btn', 'food-action-btn'])
    a(class=['btn', 'btn-floating', 'btn-large', 'teal', 'waves-effect'])
      i(class='material-icons') more_vert

    ul
      li(class=['btn-floating', 'blue'])
        a(href='/', class=['waves-effect'])
          i(class='material-icons') home

      li(class=['btn-floating', 'red'])
        a(href='#help-modal', class=['modal-trigger', 'waves-effect', 'waves-green'])
          i(class='material-icons') help

      li(class=['btn-floating green'])
        a(href='mailto:charlielbloomfield@gmail.com?Subject=Food%20App')
          i(class='material-icons') email

      li(class=['btn-floating', 'grey', 'darken-3'])
        a(href='https://github.com/GeoffreyLong/ThriftyFood')
          i(class=['fa', 'fa-github'])

  div(id='help-modal', class=['modal', 'bottom-sheet'])
    div(class='modal-content')
      div(class='right')
        a(href='#!', class=['modal-action', 'modal-close'])
          i(class=['material-icons', 'small']) close
      h4 Welcome to the help panel.
