extends base_layout
include mixins/users

block nav
  //drop down menu for logged in users
  //ul(id='user-dropdown', class='dropdown-content')
  //  li
  //    a(href='#!') Become seller
  //  li(class='divider')
  //  li
  //    a(href='/users/logout') Logout
    
  nav.blue-grey.darken-2
    div.nav-wrapper
      div.std-margins
        a.brand-logo(href='/') VESTA
        ul.right.hide-on-med-and-down
          - if(session.type == 'seller')
            li
              a(href='/food/new') SELL
          - if(!session.userName)
            li
              a(href='/users/new_user') CREATE ACCOUNT
            li
              a(href='/users/login') LOGIN
          - else
            - if(!(session.type == 'seller'))
              li
                +stripe_connect_link('CONNECT TO STRIPE', curUserId)
            li
              a(href='/users/logout') LOGOUT
            li
              a(class=['btn'], href='/users/' + session.userId) #{session.userName}

block footer
  div.fixed-action-btn.food-action-btn
    a.btn.btn-floating.btn-large.teal.waves-effect
      i.material-icons more_vert

    ul
      li.btn-floating.blue
        a.waves-effect(href='/')
          i.material-icons home

      li.btn-floating.red
        a.modal-trigger.waves-effect.waves-green(href='#help-modal')
          i.material-icons help

      li.btn-floating.green
        a(href='mailto:charlielbloomfield@gmail.com?Subject=Vesta')
          i.material-icons email

      li.btn-floating.grey.darken-3
        a(href='https://github.com/GeoffreyLong/ThriftyFood')
          i.fa.fa-github

  div.modal.bottom-sheet(id='help-modal')
    div.modal-content
      div.right
        a.modal-action.modal-close(href='#!')
          i.material-icons.small close
      h4 Welcome to the help panel.
