extends base_layout

block nav
  nav(class=['blue-grey darken-2'])
    div(class='nav-wrapper')
      a(href='/', class='brand-logo') FOOD
      ul(class=['right', 'hide-on-med-and-down'])
        li
          a(href='/users/new') LOGIN
        li
          a(href='/food/new') SELL