extends base_layout

block nav
  nav(class=['blue-grey darken-2'])
    div(class='nav-wrapper')
      a(href='/', class='brand-logo') FOOD
      ul(class=['right', 'hide-on-med-and-down'])
        - if(!curUserName)
            li
              a(href='/users/new') LOGIN
        - else
            - var userEndpoint = '/users/' + curUserName
            li
              a(href=userEndpoint) MY ACCOUNT
        li
          a(href='/food/new') SELL