extends nav_layout

block content
  div.container
    div.card
      div.card-content
        form(name='newFood', action='/foods/submit', method='post', enctype="multipart/form-data")

          div.row
            div.input-field
              input(type='text', placeholder='Food Name', name='name')
          div.row
            div.input-field
              input(type='text', placeholder='Food Description', name='description')

          div.row
            div.file-field.input-field
              div.btn
                span File
                input(type='file', name='coverImage')
              div.file-path-wrapper
                input(class=['file-path', 'validate'], type='text', placeholder='Cover Photo', name='imgFile')

          div.row
            div.input-field.col.s6
              input(type='text', placeholder='Portions Available', name='portions')
            div.input-field.col.s6
              input(type='text', placeholder='Portion Size (pieces, grams, liters, etc)', name='portionDef')

          div.row
            div.input-field.col.s4
              input(type='date', placeholder='Date', name='date')
            div.input-field.col.s4.
              input(type='time', placeholder='Start time', name='startTime')
            div.input-field.col.s4
              input(type='time', placeholder='End time', name='endTime')

          div.row
            div.input-field.col.s4
              input(type='text', placeholder='Country', name='country')
            div.input-field.col.s4
              input(type='text', placeholder='State or Province', name='state')
            div.input-field.col.s4
              input(type='text', placeholder='City', name='city')

          div.row
            div.input-field.col.s6
              input(type='text', placeholder='Street', name='street')
            div.input-field.col.s6
              input(type='text', placeholder='Number', name='number')

          div.row
            button.btn-large.waves-effect.waves-light.col.s12(type='submit', name='action') Submit Your Food
              i(class=['material-icons', 'right'])
