extends nav_layout
include mixins/logins

block content
  div(class=['container'])
    +login_card()
      //- div(class='container')
      //-   a(href='https://connect.stripe.com/oauth/authorize?response_type=code&client_id=ca_89GeQlhMVoUResS0PeQm6XuCs6hoXgze&scope=read_write') connect
                    
