extends nav_layout

block content
  div(class='container')
    div(class='card')
      div(class='card-content')
        form(name='newFood', action='/food/submit', method='post')

          div(class='row')
            div(class=['input-field'])
              input(type='text', placeholder='Food name', name='name')
          div(class=['row'])
            div(class=['input-field'])
              input(type='text', placeholder='Food description', name='description')

          div(class=['row'])
            div(class=['file-field', 'input-field'])
              div(class=['btn'])
                span File
                input(type='file')
              div(class='file-path-wrapper')
                input(class=['file-path', 'validate'], type='text', placeholder='Upload image file', name='imgFile')

          div(class=['row'])
            div(class=['input-field', 'col', 's6'])
              input(type='text', placeholder='Portions available', name='portions')
            div(class=['input-field', 'col', 's6'])
              input(type='text', placeholder='What you call a portion', name='portionDef')

          div(class='row')
            div(class=['input-field', 'col', 's4'])
              input(type='date', placeholder='Date', name='date')
            div(class=['input-field', 'col', 's4'])
              input(type='time', placeholder='Start time', name='startTime')
            div(class=['input-field', 'col', 's4'])
              input(type='time', placeholder='End time', name='endTime')

          div(class='row')
            div(class=['input-field', 'col', 's4'])
              input(type='text', placeholder='Country', name='country')
            div(class=['input-field', 'col', 's4'])
              input(type='text', placeholder='State or Province', name='state')
            div(class=['input-field', 'col', 's4'])
              input(type='text', placeholder='City', name='city')

          div(class='row')
            div(class=['input-field', 'col', 's6'])
              input(type='text', placeholder='Street', name='street')
            div(class=['input-field', 'col', 's6'])
              input(type='text', placeholder='Number', name='number')

          div(class='row')
            //div(class=['input-field', 'col', 's6'])
            //  input(type='submit', value='submit')
            button(class=['btn-large', 'waves-effect',
              'waves-light', 'col', 's12'], type='submit', name='action') Submit Your Food
              i(class=['material-icons', 'right'])

