
extends nav_layout

block content
  p User
  div
    form(name="newUser", action="/users/submit", method="post")
      table
        tr
          td Username:
          td
            input(type="text", name="username", class="userfield")
        tr
          td Password:
          td
            input(type="password", class="pass", id="userPass1", name="password")
        tr
          td Repeat password:
          td
            input(type="password", class="passCheck", id="userPass2", name="rpassword")
        tr
          td
            input(type="submit", name="usersubmit")


  p Seller
  div
    form(name="newSeller", action="/users/submit", method="post")
      table
        tr
          td Username:
          td
            input(type="text", name="username", class="userfield")
        tr
          td Password:
          td
            input(type="password", class="pass", id="sellerPass1", name="password")
        tr
          td Repeat password:
          td
            input(type="password", class="passCheck", id="sellerPass2", name="rpassword")
        tr
          td
            input(type="submit", name="sellersubmit")
