
.nav-wrapper {
  font-weight: 200;
  letter-spacing: 1px;
}

.landing-banner {
  font-weight: 600;
}

.banner-img{
  -webkit-filter: blur(3px);
  width: 100%;
  height: 100%;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.food-card{
  overflow: hidden;
}

.std-nav-margins {
  position: absolute;
  left: 5%;
  right: 5%;
}

.content-bottom {
  position:absolute;
  bottom:0px;
  right:5%;
  left:5%;
}

.food-card-reveal{
  display: none;
  transform: translateY(0px);
}

.food-title{
  background: rgba(55, 55, 55, 0.5);
}

.food-action-btn{
  bottom: 25px;
  right: 25px;
}
