//connect to stripe button
mixin stripe_connect_link(text, user_id)
  a(href='https://connect.stripe.com/oauth/authorize?response_type=code&client_id=ca_89GeQlhMVoUResS0PeQm6XuCs6hoXgze&scope=read_write') #{text}
